<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowAllDriverInfo</display-name>
    <servlet-name>ShowAllDriverInfo</servlet-name>
    <servlet-class>servlet.ShowAllDriverInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllDriverInfo</servlet-name>
    <url-pattern>/ShowAllDriverInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCar</display-name>
    <servlet-name>AddCar</servlet-name>
    <servlet-class>servlet.AddCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCar</servlet-name>
    <url-pattern>/AddCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDriver</display-name>
    <servlet-name>AddDriver</servlet-name>
    <servlet-class>servlet.AddDriver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDriver</servlet-name>
    <url-pattern>/AddDriver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelDriver</display-name>
    <servlet-name>DelDriver</servlet-name>
    <servlet-class>servlet.DelDriver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDriver</servlet-name>
    <url-pattern>/DelDriver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriDetails</display-name>
    <servlet-name>DriDetails</servlet-name>
    <servlet-class>servlet.DriDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriDetails</servlet-name>
    <url-pattern>/DriDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriUpdate</display-name>
    <servlet-name>DriUpdate</servlet-name>
    <servlet-class>servlet.DriUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriUpdate</servlet-name>
    <url-pattern>/DriUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverUpdate</display-name>
    <servlet-name>DriverUpdate</servlet-name>
    <servlet-class>servlet.DriverUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverUpdate</servlet-name>
    <url-pattern>/DriverUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllCarInfo</display-name>
    <servlet-name>ShowAllCarInfo</servlet-name>
    <servlet-class>servlet.ShowAllCarInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllCarInfo</servlet-name>
    <url-pattern>/ShowAllCarInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCar</display-name>
    <servlet-name>DelCar</servlet-name>
    <servlet-class>servlet.DelCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCar</servlet-name>
    <url-pattern>/DelCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarDetails</display-name>
    <servlet-name>CarDetails</servlet-name>
    <servlet-class>servlet.CarDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarDetails</servlet-name>
    <url-pattern>/CarDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarUpdate</display-name>
    <servlet-name>CarUpdate</servlet-name>
    <servlet-class>servlet.CarUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarUpdate</servlet-name>
    <url-pattern>/CarUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarUpdateServlet</display-name>
    <servlet-name>CarUpdateServlet</servlet-name>
    <servlet-class>servlet.CarUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarUpdateServlet</servlet-name>
    <url-pattern>/CarUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDriDetails</display-name>
    <servlet-name>ShowDriDetails</servlet-name>
    <servlet-class>servlet.ShowDriDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDriDetails</servlet-name>
    <url-pattern>/ShowDriDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllCustomerInfo</display-name>
    <servlet-name>ShowAllCustomerInfo</servlet-name>
    <servlet-class>servlet.ShowAllCustomerInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllCustomerInfo</servlet-name>
    <url-pattern>/ShowAllCustomerInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomer</display-name>
    <servlet-name>AddCustomer</servlet-name>
    <servlet-class>servlet.AddCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomer</servlet-name>
    <url-pattern>/AddCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDetails</display-name>
    <servlet-name>CustomerDetails</servlet-name>
    <servlet-class>servlet.CustomerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDetails</servlet-name>
    <url-pattern>/CustomerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerUpdate</display-name>
    <servlet-name>CustomerUpdate</servlet-name>
    <servlet-class>servlet.CustomerUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerUpdate</servlet-name>
    <url-pattern>/CustomerUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CusUpdate</display-name>
    <servlet-name>CusUpdate</servlet-name>
    <servlet-class>servlet.CusUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CusUpdate</servlet-name>
    <url-pattern>/CusUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCustomer</display-name>
    <servlet-name>DelCustomer</servlet-name>
    <servlet-class>servlet.DelCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCustomer</servlet-name>
    <url-pattern>/DelCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Aa</display-name>
    <servlet-name>Aa</servlet-name>
    <servlet-class>servlet.Aa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aa</servlet-name>
    <url-pattern>/Aa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportDriverInfo</display-name>
    <servlet-name>ExportDriverInfo</servlet-name>
    <servlet-class>servlet.ExportDriverInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportDriverInfo</servlet-name>
    <url-pattern>/ExportDriverInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarOwnerList</display-name>
    <servlet-name>CarOwnerList</servlet-name>
    <servlet-class>servlet.CarOwnerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarOwnerList</servlet-name>
    <url-pattern>/CarOwnerList</url-pattern>
  </servlet-mapping>
</web-app>